.header-container{
    background-color: pink;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    height: 150px;
}

.btn{
    display: flex;
    
    justify-content: flex-start;
    background-color: pink;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 40px; 
}

.selected{
    border: 1px solid white;
    border-radius: 20px;
    padding: 15x;
}

.search{
    display: flex;
    justify-content: center;
    
}